.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.WindowContainer {
  background-color: rgb(255, 157, 157);
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.HeaderContainer {
  /*background-color: rgb(255, 108, 108);
  */position: absolute;
  top: 0;
  
  align-items: center;
  justify-content: center;
  text-align: center;

  display: flex;
  flex-direction: center;
}

.Title {
  margin: 0;
  padding: 20px;
}

.HomeContainer {
  /*background-color: rgb(203, 6, 6);
  */width: 50%;
  height: 50%;
  text-align: center;
  display: flex;
  justify-content:space-around;
  flex-direction: column;
}

.BigButton {
  padding: 20px;
}