.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.WindowContainer {
  background-color: rgb(255, 157, 157);
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.MenuContainerOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.MenuContainerInner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; */
}

.TextBarContainer {
  position: absolute;
  bottom: 0;
  padding-bottom: 2%;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around
}

.TextBarForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TextBarInput {
  height: 80%;
  width: 70%;
}

.TextBarButton {
  height: 85%;
  width: 20%;
}

.HeaderContainer {
  /*background-color: rgb(255, 108, 108);
  */
  position: relative;
  top: 0;
  
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  display: flex;
  flex-direction: center;
}

.Title {
  margin: 0;
  padding: 20px;
}

.HomeContainer {
  /*background-color: rgb(203, 6, 6);
  */width: 50%;
  height: 50%;
  text-align: center;
  display: flex;
  justify-content:space-around;
  flex-direction: column;
}

.BigButton {
  padding: 20px;
}